extends layout

block content
  h1= title

  p! = themeDesc1

  p!= themeDesc2

  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
  //- the ! in p! is a directive to turn off escape characters (something like that)
