extends layout

block content
  h1= title

  ul
  each client in client_list
    li
      a(href=client.url) #{client.name}
      | (#{client.email_address})

  else
    li There are no clients.

 hr
 p
   a(href='/catalog//countrytaxauthorities') List Country Authorities

 P
   a(href='/catalog/regionalauthorities') List Regional Authorities
