extends layout

block content
  h1= title

  h3 = msg1
  br
  a(href= sourceA)
    button(type="button") #{sourceA2}
  |
  | a(href= sourceB)
      button(type="button") #{sourceB2}
  br
  h3 = msg2
  br
  h3 = msg3
