extends layout

block content
  h1= title

  p!= msg1
  br
  <div style="text-align: left">
  a(href= '/catalog/clientmessages_in')
      button(type="button") Send Message
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  a(href= '/catalog/system_FAQ')
      button(type="button") FAQ
  </div>
  br
  p!= msg2

  p!= msg3
  br
  //- putting anything other than |&nbsp;'s between href's or
  //- making sources a variable caused buttons to get vanishingly small!
