extends layout

block content
  h1=title

  p Clients:


  form(method='POST' action='')
    div.form-group
      label(for='appname') Aplication Name
      select#clientrequest.form-control(type='select' placeholder="appname:" name='appname' required='true')
        option(value='PieSlicer') Pie PieSlicer
        option(value='FracSpeller') Fraction Speller

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
