extends layout

block content
  h1 title

  h3 Your System Id is required:
  p message1
  p message2

  form(method='POST' action='')
    div.form-group
      label(for='sysIdString') Clipboard Data:
      input#sysIdString.form-control(type='text', placeholder='xxxxx:yyyyy:CPUorUSB', name='sysIdString', value=(undefined=== sysIdString ? '' : sysIdString),  required = 'true')
    button.btn.btn-primary(type='submit') #{query===undefined ? "Submit" : query}

  if errors
    ul
      for error in errors
        li!= error.msg
