extends layout

block content
  h1= title

  ul
  each countrytaxauthority in countrytaxauthorities_list
    li
      a(href=countrytaxauthority.url) #{countrytaxauthority.country_name}
      | (#{countrytaxauthority.allowed})

  else
    li There are no countrytaxauthorities.

  <br />
  hr
  p
    a(href='/catalog/countrytaxauthoritycreate') Add Country Tax Authority

  p
    a(href='/catalog//countrytaxauthorities') List Country Authorities

  P
    a(href='/catalog/regionalauthorities') List Regional Authorities

  p
    a(href='/catalog/clients') List Clients
