extends layout

block content
  h1= title
  br

  h3= "NOTE CAREFULLY"

  p!= themeDesc1

  p!= themeDesc2

  br

  a(href='/fracSpellerDwnld')
             button(type="button") download FracSpeller for CPU
  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
  br

  a(href="somewhereElse")
            button(type="button") download FracSpeller for USB
