extends layout

block content
  h1(href="#" style={'font-size':'3vw'})= title
  p #[em Mastering Math], dedicated to making math a journey of discovery for the budding math enthusiast.

  h3(href="#" style={'font-size':'3vw'})= Overview

  p!= blurb
