extends layout

block content
  h1(href="#" style={'font-size':'3vw'})= title
  p #[em Mastering Math], dedicated to making math a journey of discovery for the budding math enthusiast.

  br

  video(width='800' height='700' controls)
    source(src='/images/basicUsage.mp4', type='video/mp4')
