extends layout

block content
  h1(href="#" style={'font-size':'3vw'})= title
  p Welcome homeschooling parents, teachers, and students to #[em k9math.xyz], dedicated to making math
  p a journey of discovery for the budding math enthusiast. 
  br
  p If a picture is worth a thousand words, what about a video?
  p Play the following video for a basic description of our pie slicing module.
  p Further videos will be made available to delve into more advanced features of this module.

  p PS: best seen in full screen mode. The resolution is a YouTube constraint and not a PieSlicer feature!
  p     (the resolution does improve as the download progresses, give it 15 seconds or so.)
  br
  <iframe width="280" height="158" src="https://www.youtube.com/embed/NVlFG6GQ_rM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
