<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/clientcreate">Register Form</a></li>
            <li><a href="/catalog/clientstatus">View Account</a></li>
            <li><br></li>
            <li><a href="/catalog/clientprolog">Contact & FAQ</a></li>
            <li><a href="/catalog/about">About Us</a></li>
            <li><br></li>
            <li><a href="/catalog/stripePrePay">VIEW CART</a></li>
            <li>
              <hr>
            </li>
            <li>
              <h4>MODULES</h4>
            </li>
            <li><a href="/catalog/pieSlicer_view">Pie Slicer</a></li>
            <li><a href="/catalog/fracSpeller_view">Fraction Speller</a></li>
            <li><br></li>
            <li>
              <p>The Number Line (soon)</p>
            </li>
            <li>
              <p>Negative Numbers (soon)</p>
            </li>
            <!--li
            //p The why of 'i' (tbd)





            -->
          </ul>
        </div>
        <div class="col-sm-10">
          <h1 href="#" style="font-size:3vw;"></h1>
          <p><em>Mastering Math</em>, dedicated to making math a journey of discovery for the budding math enthusiast.</p>
          <script>
            function show(item){
              console.log("attempting to show with item: ",item,"  of type: ",typeof item);
              let arr = ["https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicerHX.jpg",
                         "https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicerGAEX.jpg",
                         "https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicer.jpg"]

              document.getElementById("here").innerHTML = arr[item];
              setTimeOut(increment,2000);
              }
            function increment(){
              let i = Number(document.getElementById("count").innerHTML);
              console.log("@@@ reading count: ",i,"  of type: ", typeof i);
              show(i);
              i += 1;
              if(i >=3)i = 0;
              console.log("@@@ $ storing count: ",i)
              document.getElementById("count").innerHTML=i.toString();
            }
            increment()

          </script>
          <h3 href="#" style="font-size:3vw;"></h3><p id="count"> "0" </p><br><p id="here"> Here </p><br>
          <div class="image"></div>
          <label for="pieslicerimg">PieSlicer Screenshot</label><br>
        </div>
      </div>
    </div>
  </body>
</html>
