extends layout

block content
  h1= title
  p Welcome to #[em Illustrated Math], a website dedicated to making math a journey of discovery for the budding math enthusiast.

  h1 Overview

  if error
    p Error getting dynamic content.
  else
    p #[pre This site is under development
      Viewers are able to see changes as they are implemented to improve
      the site and turn it into an optimal experience for teachers, homeschooling
      parents and any student who may like to use a more visual approach
      to developing their math proficiency and understanding.

      Stay tuned.]
