extends layout

block content
  h1(href="#" style={'font-size':'3vw'})= title
  p #[em Mastering Math], dedicated to making math a journey of discovery for the budding math enthusiast.

  h3(href="#" style={'font-size':'3vw'})= Overview

  //- p!= blurb
  br
  .image
  label(for="pieslicerimg") PieSlicer Screenshot
  br

  script.
    function show(){
      let arr = ["https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicerHX.jpg",
                           "https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicerGAEX.jpg",
                           "https://s3.ca-central-1.amazonaws.com/pipsbucket/PieSlicer.jpg"]
      for (item in arr){
        .pieslicerimg
          <img id="pieslicerimg"  src=arr[item] alt="ScreenShot" style="width:90%";>

       if (error){
       p Error getting dynamic content.
       }else{setTimeout(show,1000)}
      }
    show()
