extends layout

block content
  h1(href="#" style={'font-size':'3vw'})= title
  p #[em Mastering Math], dedicated to making math a journey of discovery for the budding math enthusiast.
  br
  p If a picture is worth a thousand words, what about a video?
  | Play the following video for a detailed description of our pie slicing module.
  | (best seen on full screen)

  br

  <iframe width="874" height="492" src="https://www.youtube.com/embed/f8F_BTl9hcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
