extends layout

block content
  h1(href="#" style={'font-size':'3vw'})= title
  p #[em Mastering Math], dedicated to making math a journey of discovery for the budding math enthusiast.
  br
  p If a picture is worth a thousand words, what about a video?  
  | Play the following video for a detailed description of our pie slicing module.
  | (best seen on full screen)

  br

  video(width='800' height='700' controls)
    source(src='https://youtu.be/f8F_BTl9hcg', type='video/mp4')
