extends layout

block content
  h1= title

  ul
  each msg in messagesIn_list
    li
      a(href=msg.url + '/detail' ) #{msg}
      | (#{msg.license_string})

  else
    li There are no messages.

  hr
  p
    a(href='/catalog//countrytaxauthorities') List Country Authorities
  P
    a(href='/catalog/regionalauthorities') List Regional Authorities
  p
    a(href='/catalog/clients') List Clients
