h1  Payment Acknowledgement

p You have successfully paid <strong>#{fancyAmount} #{denomination}</strong>
p To register systemId: <strong>#{systemId}</string>
br
h2 Thank you
a(href= source)
    button(type="button") #{source2}
