h1  Payment Acknowledgement

h2 You have successfully paid <strong>#{fancyAmount} #{denomination}</strong>
h2 To register systemId: <strong>#{systemId}</string>
br
h2 Thank you
a(href= source)
    button(type="button") #{source2}
