extends layout

block content
  h1= title
  br

  h3 Using Microsoft PowerShell Utility

  p!= themeDesc1
  br
  //- .image
  //- label(for="verifyimg") #{source2}
  //- br
  //- .verifyimg
  //-  <img id="verifyimg"  src="/public/images/step1.png" alt="missing" width="636" height="200">


  .image
  label(for="verify1img") Verify step 1
  br
  .verify1img
    <img id="verify1img"  src="../public/images/step1.png" alt="step1 view" width="450" height="250">
  if error
    p Error getting dynamic content.
  else
   br

   a(href= nextLoc)
       button(type="button") #{nextLbl}

  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
