extends layout

block content
  h1= title
  br

  h3 Using the tremendous Microsoft PowerShell Utility

  p!= themeDesc1
  br
  .image
  label(for="verifyimg") #{source2}
  br
  .verifyimg
    <img id="verifyimg"  src="./public/images/step1.png" alt="missing" width="636" height="200">

  br
  br

  p!= themeDesc2

  //- note that dashed comments (ie this one) are only for PUG (not the transcribed HTML )
  //- the PUG href requires two lines, gives errors otherwise
