<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/clientcreate">Register Form</a></li>
            <li><a href="/catalog/clientstatus">View Account</a></li>
            <li><a href="/catalog/verification">VERIFICATION</a></li>
            <li><a href="/catalog/about">About Us</a></li>
            <li>
              <hr>
            </li>
            <li>
              <h4>MODULES</h4>
            </li>
            <li><a href="/catalog/pieSlicer_view">Pie Slicer</a></li>
            <li><a href="/catalog/fracSpeller_view">Fraction Speller</a></li>
            <li><br></li>
            <li>
              <p>The Number Line (soon)</p>
            </li>
            <li>
              <p>Negative Numbers (soon)</p>
            </li>
            <li>
              <p>The why of 'i' (tbd)</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-10">
          <h1></h1><br>
          <h3>Using the tremendous Microsoft PowerShell Utility</h3>
          <p></p><br>
          <div class="image"></div>
          <label for="verifyimg"></label><br>
          <div class="verifyimg"><img id="verifyimg"  src="/public/images/step1.png" alt="missing" width="636" height="200"></div><br><br>
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>