.document {
  background-color: #777799;
  color: #FFFFFF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

p {
  overflow: auto;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#vid1 {
  background-color: #eee;
  animation: mymove 2s 5;
}
@keyframes mymove {
  30% {background-color: #1c87c9;}
}
