.document {
  background-color: #777799;
  color: #FFFFFF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

p {
  overflow: auto;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
